/*BEGIN Xbox One Controller Styling*/
.controller.custom{
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-bg.png);
    height: 331px;
    width: 544px;
	opacity: 90;
}
.custom.white{
    /*background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-bg.png);*/
    height: 460px;
    width: 544px;
	opacity: 10;
}
	
.custom.disconnected {
    
}
.custom.disconnected div {
    display: none;
}

.custom .bumpers{
    position: absolute;
    width: 544px;
    height: 67px;
	-webkit-clip-path: 50%;
}
.custom .bumper{
    width: 143px;
    height: 73px;
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-trigger.png);
    opacity: 0;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    transform: rotateY(180deg);
}
.custom .bumper.pressed{
    opacity: 1;
}

.custom .triggers{
    position: absolute;
    width: 544px;
    height: 66px;
    -webkit-clip-path: 50%;
}
.custom .trigger{
	width: 263px;
    height: 66px;
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-trigger2.png);
    opacity: 1;
}
.custom .trigger.left{
    float: left;
    opacity: 1;
}
.custom .trigger.right{
    float: right;
    transform: rotateY(180deg);
}
.custom .trigger.pressed{
    opacity: 1;
}

.custom .back, .custom .start{
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-startselect.png);
    width: 197px;
    height: 130px;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    opacity: 1;
}
.custom .back{
    float: left;
}
.custom .start{
    float: right;
    transform: rotateY(180deg);
}

.custom .abxy{
    position: absolute;
    width: 161px;
    height: 155px;
    top: 82px;
    left: 383px;
    /* background-size: contain; */
}
.custom .button{
    position: absolute;
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-abxy.png);
    width: 51px;
    height: 51px;
    opacity: 0;
}
.custom .button.pressed{
    opacity: 1;
}
.custom .y{
    background-position: 108px 153px;
    top: 2px;
    left: 53px;
}
.custom .a{
    background-position: 108px 153px;
    top: 104px;
    left: 53px;
}
.custom .b{
    background-position: 108px 153px;
    top: 53px;
    left: 104px;
}
.custom .x{
    background-position: 108px 153px;
    top: 53px;
    left: 2px;
}

.custom .sticks{
    position: absolute;
    height: 331px;
    width: 544px;
}
.custom .stick{
    position: absolute;
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
.custom .stick.pressed{
    background-position: 0 0;
	opacity: 0,3;
}
.custom .stick.left{
    top: -18px;
    left: 38px;
}
.custom .stick.right{
    top: 86px;
    left: 313px;
}

.custom .dpad{
    position: absolute;
    width: 102px;
    height: 102px;
    top: 207px;
    left: 108px;
}
.custom .face{
    background: url(https://student.fizyka.pw.edu.pl/~hubnow/input_viewer_theme/switch_simple-face.png);
    position: absolute;
    width: 31px;
    height: 33px;
    opacity: 0;
}
.custom .face.pressed{
    opacity: 1;
}
.custom .face.up{
    background-position: 0 0;
    width: 31px;
    height: 33px;
    left: 37px;
    top: 3px;
}
.custom .face.down{
    background-position: 0 0;
    width: 31px;
    height: 33px;
    left: 37px;
    top: 66px;
}
.custom .face.left{
    background-position: 0 0;
    width: 31px;
    height: 32px;
    left: 5px;
    top: 35px;
}
.custom .face.right{
    background-position: 0 0;
    width: 31px;
    height: 32px;
    left: 69px;
    top: 35px;
}




  